.sidebar {
  background-color: var(--slack-color);
  max-width: 260px;
  color: white;
  border-top: 1px solid #49274b;
  flex: 0.3;
}
.sidebar > hr {
  margin: 10px auto;
  border: 1px solid #49274b;
}
.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
}
.sidebar__info {
  flex: 1;
}
.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}
.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}
.sidebar__info > h3 > .MuiSvgIcon-root {
  color: rgb(8, 170, 8) !important;
  font-size: 14px;
  margin-right: 2px;
}
.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  background-color: white;
  border-radius: 999px;
}
